$fore: rgba(255, 255, 255, 0.87)
$back: #333

body
  padding: 50px
  font: 14px "Roboto Mono", Helvetica, Arial, sans-serif
  background: $back
  color: $fore

h1
  display: inline-block

a
  color: $fore
  text-decoration: none

  &:hover
    text-decoration: underline

ul
  text-decoration: none
  list-style: none
  margin: 0
  padding: 0

button
  background: none
  border: 2px solid $fore
  padding: 8px
  color: $fore

  &:hover
    background: $fore
    color: $back
    display: inline-block

#logo
  height: 100px
  width: 100px
  vertical-align: middle
  margin-right: 32px

#main
  #key
    font-size: 24px
    border: none
    border-bottom: 2px solid $fore
    padding: 8px
    margin-left: 8px
    display: inline-block
    width: 400px
    outline: none
    background: $back
    color: $fore

    &::placeholder
      color: $fore
      font-family: "Roboto Mono", sans-serif

  #key-list
    li
      span.key:hover, span.remove:hover
        cursor: pointer
        text-decoration: underline


#editor
  h1
    display: inline-block

  ul
    li
      &:hover
        text-decoration: underline
        cursor: pointer

  input, select
    font-size: 14px
    border: none
    border-bottom: 2px solid $fore
    padding: 8px
    background: none
    color: $fore
    outline: none

  input
    width: 75px

  option
    color: $fore
    background: $back

  #key
    font-size: 24px
    border: none
    border-bottom: 2px solid $fore
    padding: 8px
    margin-left: 8px
    display: inline-block
    width: 400px
    outline: none

    &::placeholder
      color: $fore
      font-family: "Roboto Mono", sans-serif

  #model-editor
    margin-top: 50px

  #model-list
    margin-right: 50px
    float: left

  #field-editor
    margin-right: 50px
    float: left

    ul
      padding: 0 0 16px 0

      li:hover
        text-decoration: none

  #preview
    float: left

    pre
      white-space: pre-wrap

      white-space: -moz-pre-wrap

      white-space: -o-pre-wrap

      word-wrap: break-word
