<div id="editor">
    <img id="logo" src="../assets/logo.svg" alt="Logo" ng-click="goHome()">

    <h1>Edit your models</h1>
    <input type="text" placeholder="Your key" id="key" contenteditable="true" ng-model="key" ng-change="loadKey(key)">

    <div id="model-editor">
        <div id="model-list">
            <h2>Models</h2>
            <ul>
                <li ng-repeat="model in monkyKey.profiles" ng-click="editModel(model)">{{model.name}}</li>
                <li ng-click="newModel(key)">+ New model</li>
            </ul>
        </div>

        <div ng-show="activeModel.content" id="field-editor">
            <h2>Edit fields</h2>
            <ul>
                <li ng-repeat="field in activeModel.content">
                    <label> Name
                        <input ng-model="field.name">
                    </label>

                    <label> Type
                        <select ng-model="field.type" ng-change="changeType(field)">
                            <option ng-repeat="(key, type) in types">{{key}}</option>
                        </select>
                    </label>

                    <label ng-if="field.type === 'array'"> Elements
                        <select ng-model="field.meta[0].value" ng-change="changeType(field)">
                            <option ng-repeat="(key, type) in types">{{key}}</option>
                        </select>
                    </label>

                    <label  ng-repeat="meta in getFieldMeta(field)"> {{meta.name}}
                        <input ng-model="meta.value">
                    </label>

                </li>
            </ul>
            <button ng-click="addField(activeModel)">ADD</button>
            <button ng-click="updateModel(activeModel)">UPDATE</button>
        </div>

        <div ng-show="activeModel.content" id="preview">
            <h2>Preview <a target="_blank"
                           href="/api/{{key}}/{{activeModel.name}}">/api/{{key}}/{{activeModel.name}}</a></h2>
            <pre id="output">{{preview | json}}</pre>
        </div>
    </div>
</div>
