<div id="editor">
    <h1>Edit your models</h1>
    <input type="text" placeholder="Your key" id="key" contenteditable="true" ng-model="key" ng-change="loadKey(key)">

    <div id="model-editor">
        <div id="model-list">
            <h2>Models</h2>
            <ul>
                <li ng-repeat="model in monkyKey.profiles" ng-click="editModel(model)">{{model.name}}</li>
            </ul>
        </div>

        <div id="field-editor">
            <h2>Edit fields</h2>
            <ul>
                <li ng-repeat="field in activeModel.content">
                    <label> Name
                        <input ng-model="field.name">
                    </label>
                    <label> Type
                        <select ng-model="field.type">
                            <option>Id</option>
                            <option>String</option>
                            <option>Number</option>
                        </select>
                    </label>
                </li>
            </ul>
        </div>

        <div id="preview">
            <h2>Preview</h2>
            <pre id="output">{{preview | json}}</pre>
        </div>
    </div>
</div>